* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #002136;
}

.invisible-friends {
  color: #f7e74c;
}

header {
  display: flex;
  background-image: url(img/header.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: black;
  background-attachment: local;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4em;
  margin: 0 auto;
  background-color: #b8ccd9;
}

.img-principal {
  width: 250px;
  height: 250px;
  border-radius: 40%;
  margin-bottom: 2em;
  margin-top: 2em;
}

.content-principal {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  border-radius: 2em;
}

section {
  width: 100%;
  margin: 0 auto;
}

.content-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-details img {
  width: 50%;
  height: 100vh;
}

.content-details div {
  text-align: center;
  padding: 50px;
}

.content-details h2 {
  margin-bottom: 30px;
}

.content-two {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content-two img {
  width: 50%;
  height: 100vh;
}

.content-two div {
  text-align: center;
  padding: 50px;
}

.content-two h2 {
  margin-bottom: 30px;
}

#contato {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .content-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    max-width: 80%;
  }

  .content-details {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .content-details img {
    width: 100%;
    height: 100vh;
  }
  .content-two {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
  }

  .content-two img {
    width: 100%;
    height: 100vh;
  }
}
